body {
    padding-top: 60px;
    padding-bottom: 40px;
}


.btn-primary {
  background-image: -webkit-linear-gradient(top, #666666 0%, #2e2e2e 100%);
  background-image:         linear-gradient(to bottom, #666666 0%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff666666', endColorstr='#ff2e2e2e', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #1c1c1c;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2e2e2e;
  border-color: #666666;
  background-position: 0 -15px;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #2e2e2e;
  border-color: #1c1c1c;
}

div.container a.navbar-brand {
    background: url("../img/wckdDevBrandLogo.png") no-repeat scroll 10px 8px transparent;
    margin-left: 0px;
    padding: 8px 20px 12px 60px;
}

div.container a.navbar-brand-pad {
  padding: 17px 40px;
}

.wckdDev {
  background: url("../img/wckdDevBG(alt).png");
}